.sideBarLinks {
  &__title {
    font-family: sans-serif;
    font-size: 15px;
    margin: 10px 0 20px 12px;
    font-weight: 600;
  }

  &__container {
    display: flex;

    &:hover {
      opacity: 0.9;
    }

    a {
      display: flex;
      padding: 10px 12px;
      margin: 5px 0;
      text-decoration: none;
    }

    &_active {
      text-decoration: none;
      width: 100%;
      background: #fdf6f7;
      border-radius: 8px;
    }

    &_activeCollapse {
      text-decoration: none;
      justify-content: center;
      width: 100%;
      background: #fdf6f7;
      border-radius: 8px;
    }

    &_collapse {
      display: flex;
      justify-content: center;
      margin: 5px 0;
    }

    &_icon {
      color: #404040;
    }

    &_iconActive {
      color: #f42862;
    }

    &_text {
      font-family: "Inter";
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      color: #404040;
    }

    &_textActive {
      color: #f42862;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
