@import "src/styles/colors.scss";

.userInfo {
  position: relative;
  margin-bottom: 12px;
  border-radius: 8px;
  height: max-content;
  background: $white;
  width: 100%;
  padding-bottom: 15px;

  &__backgroundPhoto {
    position: relative;
    border-radius: 8px 8px 0 0;
    height: 112px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &_iconBlock {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 69px;
      right: 16px;
      width: 32px;
      height: 32px;
      background: $mainPink;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        background: #f8316b;
      }
    }

    &_icon {
      color: $white;
    }
  }

  &__avatarBlock {
    position: absolute;
    top: 3rem;
    left: 1rem;

    &_avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  &__iconBlock {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: $mainPink;
    border-radius: 50%;
    bottom: 0;
    right: 0;

    &:hover {
      cursor: pointer;
      //opacity: 0.9;
      background: #f8316b;
    }

    &_icon {
      color: $white;
    }
  }

  &__infoBlock {
    padding: 15px 0 0 15px;

    &_name {
      font-family: "Inter";
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -.4px;
      line-height: 1.25;
    }

    &_displayName {
      font-family: "Inter";
      font-size: 14px;
      font-weight: 600;
      color: rgb(118, 118, 118);
      letter-spacing: -.3px;
      line-height: 1.13;
    }

    &_edit {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    &_text {
      font-family: "Inter";
      padding-left: 2px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: -.26px;
    }
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 10px;

  &__title {
    line-height: 24px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  &__text {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 15px;
    color: #767676;
    padding-left: 15px;
  }

  &__container {
    border-radius: 4px;
    background: $white;
  }
}
