@import "src/styles/colors.scss";

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: $mainPink;
  overflow-y: scroll;

  &__block {
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    padding: 30px 0;
    color: white;
    font-size: 32px;
  }

  &__component {
    display: flex;
    background: white;
    width: 500px;
    min-height: 300px;
    border-radius: 8px;

    &_content {
      padding: 50px;
    }
  }

  &__closeButton {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    user-select: none;
    width: max-content;

    &:hover {
      cursor: pointer;
      color: #efeff1;
    }
    &:active {
      color: #d4e0e5;
    }

    &_text {
      margin-left: 5px;
    }
  }
}
