.page {
  width: 400px;

  &__title {
    text-align: center;
    font-size: 31px;
    font-weight: bold;
    font-family: sans-serif;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &_text {
      font-family: sans-serif;
      font-size: 15px;
      color: #737373;
      user-select: none;
      text-decoration: none;

      &:hover {
        color: #8e8c8c;
        cursor: pointer;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;

    &_input {
      cursor: pointer;
      width: 18px;
      height: 18px;
      accent-color: #f42862;
    }

    &_text {
      margin-left: 10px;
      font-size: 14px;
      color: #404040;
      cursor: pointer;
      user-select: none;
    }
  }
}

