.page {

  &__validBlock {
    margin-top: 15px;

    &_validation {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    &_icon {
      opacity: 0.5;
      font-size: medium !important;
    }

    &_iconSuccess {
      font-size: medium !important;
      color: #00c5ae;
    }

    &_text {
      font-size: 15px;
      font-family: sans-serif;
      font-weight: 400;
      margin-left: 15px;
    }
  }
}
