.page {
  margin-top: 15px;

  &__text {
    font-weight: 400;
  }

  &__icon {
    color: #a5e8df;
  }

  &__button {
    display: flex;
    justify-content: right;
    margin: 10px 0 25px 0;
    font-family: sans-serif;
    font-size: 15px;

    &_error {
      display: flex;
      justify-content: space-between;
    }

    &_resendCode {
      color: #595f82;
      user-select: none;

      &:hover {
        cursor: pointer;
        color: #6e7399;
      }
    }

    &_errorText {
      color: red;
    }

    &_disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
